# Object detection and tracking with YOLO
ultralytics==8.2.103

# Video processing
opencv-python==4.10.0.84
opencv-python-headless

# Geometry handling for regions and points
Shapely

# General-purpose packages
numpy

paho-mqtt
python-dotenv

pymodbus==3.6.9